html,body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	background: #000;
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
	color: #fff
}

#the_frame {
	height: 100%;
	background-image: url("//vidsrc.me/rings.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100px 100px
}

#pl_but_background {
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

#pl_but_background:hover {
    cursor: pointer;
}

#pl_but_background:hover #pl_but { 
    animation: pl_but_move 0.7s;
    animation-iteration-count: infinite;
    opacity: 1;
}

@keyframes pl_but_move {
    50% {font-size: 2.3rem;}
    100% {font-size: 2em;}
}

#pl_but_background #pl_but {
    border-radius: 100%;
    text-shadow: 0 0 10px BLACK;
    font-size: 2rem;
    color: #fff;
    opacity: 0.8;
    -webkit-transition: all ease 200ms;
    -moz-transition: all ease 200ms;
    -o-transition: all ease 200ms;
    transition: all ease 200ms;
}

#loading_overlay {
	display: none;
	background-color: rgba(0, 0, 0, .7);
	width: 100%;
	height: 100%;
	opacity: 0.8;
	position: absolute;
	z-index: 999;
	background-image: url(/rings.svg?_=349834);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100px 100px
}

#top_buttons_parent {
	width: 100%;
	height: 0;
	position: absolute;
	top: 0
}

#top_buttons_parent #top_buttons {
	margin: 0 auto;
	display: table;
	font-size: 2em;
	background: rgba(0, 0, 0, .5);
	padding: 0 5px
}

#top_buttons_parent #top_buttons .button {
	display: inline-block;
	padding: 5px;
	color: #fff;
	-webkit-transition: all ease 200ms;
	-moz-transition: all ease 200ms;
	-o-transition: all ease 200ms;
	transition: all ease 200ms
}

#top_buttons_parent #top_buttons .button:hover {
	cursor: pointer;
	color: #e600e6;
}

#top_buttons_parent #top_buttons .button_inactive {
	color: rgba(255, 255, 255, .3)!important;
	pointer-events: none!important
}

#top_buttons_parent #top_buttons #cc {
	margin: 0 2px;
	font-size: 1.1em
}

#top_buttons_parent #top_buttons #report {
	font-size: .9em
}

.button_content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba(0, 0, 0, .8);
	display: none
}

.close {
	z-index: 99;
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	font-size: 2em;
	color: #fff;
	-webkit-transition: all ease 200ms;
	-moz-transition: all ease 200ms;
	-o-transition: all ease 200ms;
	transition: all ease 200ms
}

.close:hover {
	cursor: pointer;
	color: #e600e6
}

.button_content #content {
	max-width: 540px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	overflow-y: auto
}

.button_content #content #title {
	font-size: 1.5em;
	padding: 10px;
	font-weight: 700;
	float: left;
	width: calc(100% - 20px)
}

.button_content #content #list {
	float: left;
	width: calc(100% - 20px);
	padding: 10px
}

.button_content #content #list .source {
	font-size: 1.2em;
	line-height: 30px;
	position: relative;
	float: left;
	width: 100%;
	padding: 10px 0
}

.button_content #content #list .source:hover {
	cursor: pointer;
	color: #e600e6
}

.button_content #content #list .source:hover #name::before {
	cursor: pointer;
	color: #e600e6;
	opacity: 1
}

.button_content #content #list .active_source {
	color: #e600e6;
	font-weight: 700
}

.button_content #content #list .active_source #name::before {
	background-image: url(/audio.svg)!important;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	display: inline-block;
	width: 20px;
	height: 20px;
	padding-right: 10px;
	content: "";
	opacity: 1!important
}

.button_content #content #list .source #name::before {
	background-image: url(/play-button.svg);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	display: inline-block;
	width: 20px;
	height: 20px;
	padding-right: 10px;
	content: "";
	opacity: 0;
	-webkit-transition: all ease 200ms;
	-moz-transition: all ease 200ms;
	-o-transition: all ease 200ms;
	transition: all ease 200ms
}

.button_content #content #list .source #name {
	width: 100%;
	float:right;
}

.button_content #content #back {
	float: left;
	padding: 0 10px;
	border-radius: 3px;
	margin-top: 0;
	margin-left: -5px;
	margin-right: 10px;
	color: #000;
	background-color: #fff;
	-webkit-transition: all ease 200ms;
	-moz-transition: all ease 200ms;
	-o-transition: all ease 200ms;
	transition: all ease 200ms
}

.button_content #content #back:hover {
	cursor: pointer;
	background-color: #e600e6;
	color: #fff
}

#subtitles #list {
	padding-top: 10px
}

#subtitles #list div {
	font-size: 1.2em;
	padding: 10px 10px 10px 20px;
	-webkit-transition: all ease 200ms;
	-moz-transition: all ease 200ms;
	-o-transition: all ease 200ms;
	transition: all ease 200ms
}

#subtitles #list div:hover {
	cursor: pointer;
	color: #e600e6
}

#subtitles #content #login {
	width: calc(100% - 20px);
	float: left;
	padding: 10px
}

#subtitles #content #login input {
	width: calc(100% - 22px);
	float: left;
	border: 1px solid silver;
	background: 0 0;
	color: #fff;
	margin: 10px 0;
	font-size: 1.2em;
	padding: 10px;
	border-radius: 3px
}

#subtitles #content #login #login_submit {
	float: left;
	padding: 10px;
	font-size: 1.5em;
	font-weight: 700;
	-webkit-transition: all ease 200ms;
	-moz-transition: all ease 200ms;
	-o-transition: all ease 200ms;
	transition: all ease 200ms
}

#subtitles #content #login #login_submit:hover {
	cursor: pointer;
	color: #e600e6
}

#subtitles #content #login #notice {
	float: left;
	color: #fff;
	width: 100%;
	padding: 10px 0
}

#subtitles #content #subtitle_langs {
	float: left;
	width: calc(100% - 20px);
	padding: 0 10px;
	overflow-y: auto;
	font-size: 1.1em;
	height: calc(100% - 48px)
}

#subtitles #content #subtitle_langs .lang {
	padding: 10px 0;
	font-size: 1.1em;
	-webkit-transition: all ease 200ms;
	-moz-transition: all ease 200ms;
	-o-transition: all ease 200ms;
	transition: all ease 200ms
}

#subtitles #content #subtitle_langs .lang:hover {
	cursor: pointer;
	color: #e600e6
}

#subtitles #content #subtitle_langs .selected_lang {
	color: #e600e6;
	font-weight: 700
}

#subtitles #content #submit_langs {
	position: absolute;
	right: 0;
	font-size: 1.2em;
	padding: 5px;
	border-radius: 3px;
	margin: 10px 0;
	font-weight: 700;
	background-color: #fff;
	color: #000;
	-webkit-transition: all ease 200ms;
	-moz-transition: all ease 200ms;
	-o-transition: all ease 200ms;
	transition: all ease 200ms
}

#subtitles #content #submit_langs:hover {
	cursor: pointer;
	background-color: #e600e6;
	color: #fff
}

#subtitles #content #subtitle_list {
	float: left;
	padding: 0 10px;
	width: calc(100% - 20px)
}

#subtitles #content #subtitle_list .subtitle {
	font-size: 1.1em;
	padding: 10px 0;
	float: left;
	overflow-wrap: break-word;
	width: calc(100% - 20px);
	-webkit-transition: all ease 200ms;
	-moz-transition: all ease 200ms;
	-o-transition: all ease 200ms;
	transition: all ease 200ms
}

#subtitles #content #subtitle_list .subtitle:hover {
	cursor: pointer;
	color: #e600e6
}

#reporting #content #list div {
	padding: 10px;
	font-size: 1.2em
}

#reporting #content #list div:hover {
	color: #e600e6;
	cursor: pointer
}

#reporting #content #list .selected_problem {
	color: #e600e6;
	font-weight: 700
}

#reporting #content #report_submit {
	float: left;
	padding: 10px;
	font-size: 1.5em;
	font-weight: 700;
	-webkit-transition: all ease 200ms;
	-moz-transition: all ease 200ms;
	-o-transition: all ease 200ms;
	transition: all ease 200ms
}

#reporting #content #report_submit:hover {
	cursor: pointer;
	color: #e600e6
}

@media only screen and (max-width:625px) {
	#subtitles #submit_langs {
		margin: 50px 10px 10px!important
	}
}